# Application Configurations
PROJECT_NAME="Fertilizer QR Management System"
API_V1_STR="/api/v1"

# Security
# Run "openssl rand -hex 32" to generate a secure secret key
SECRET_KEY="supersecretjwtkeythatisproductionreadyandlong"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Database configurations
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/fertilizer_db"

# First Admin Seed Setup (Optional)
FIRST_SUPERUSER_EMAIL="admin@fertilizer.com"
FIRST_SUPERUSER_PASSWORD="adminpassword"
